$body-bg: rgb(40, 40, 40);
$body-color: whitesmoke;
$primary: #452ca9;
$secondary: #e5245c;
$dark: rgb(40, 40, 40);
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
.dropdown-menu > li > a:focus,
.dropdown-menu>li>a:hover {
    background-color: $secondary; 
}
.accordion-item {
    background-color: $primary;
}